* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 10px;
    padding: 10px;
}

/* 
IDK WHAT TO DO ABOUT THIS
.nav-bar {
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 10px;
    padding: 10px;
    height: 100%;
    left: 0;
    position: absolute;
} */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between
    position: absolute;
}

.info-body {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo {
    height: 200px;
    justify-content: center;
    align-items: center;
}